.autor__container {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

.autor__card {
    width: 668px;
    height: 84px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    border: 1px solid #939393;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
}